html {
  scroll-behavior: smooth;
  background-color: #DBE2EF;
}

#homepage {
  text-align: center;
  background-color: #DBE2EF;
}

#signup {
  background-color: #DBE2EF;
}

#login {
  background-color: #DBE2EF;
}

#index {
  background-color: #DBE2EF;
}

#goals-new {
  background-color: #DBE2EF;
}

#footer {
  position: fixed;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
} 

#copyright {
  text-align: center;
  margin-top: 10px;
}

/* .aws-btn {
  margin-left: 10px;
} */

/* #AwesomeButtonSocial {
  margin-left: 10px;
} */

/* #copyright {
  position: absolute;
  bottom: 0;
  right: 0;
} */
