html {
  scroll-behavior: smooth;
  background-color: #DBE2EF;
}

#homepage {
  text-align: center;
  background-color: #DBE2EF;
}

#signup {
  background-color: #DBE2EF;
}

#login {
  background-color: #DBE2EF;
}

#index {
  background-color: #DBE2EF;
}

#goals-new {
  background-color: #DBE2EF;
}

#footer {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
} 

/* #copyright {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* :root {
  -bs-body-font-family: 'Roboto'
} */
/* #homepage {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: turquoise;
} */

/* .nav-item {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */